
@{
    ViewBag.Title = "_Nav";

}

<div class="header">
    <div class="container">
        <div class="header-grid">
            @{
                var session = (PetStore.Common.UserLogin)Session[PetStore.Common.CommonConstants.USER_SESSION];
            }
            @if (session == null)
            {
                <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">Email</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="~/Login">Đăng nhập</a></li>
                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="~/Account/Register">Đăng ký</a></li>
                    </ul>
                </div>
                <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                    <ul class="social-icons">
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="g"></a></li>
                        <li><a href="#" class="instagram"></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            }
            else
            {
                <div class="header-grid-right" data-wow-delay=".5s">
                    <ul>
                        <li>
                            <a href="~/Account/Edit"><strong>Xin chào: @session.UserName</strong></a>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i> @Html.ActionLink("Thoát", "LogOut", "Login")
                        </li>
                    </ul>
                </div>

            }

        </div>
        <div class="logo-nav">
            <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                <h1><a href="~/Home">Pet Store <span>Shop anywhere</span></a></h1>
            </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="~/Home" class="act">Trang chủ</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thú cưng <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    @{Html.RenderAction("ThuCungCategory", "GiongPet");}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#"class="dropdown-toggle" data-toggle="dropdown">Dịch vụ <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column">
                                    <li><a href="~/LichHen">Đặt lịch chăm sóc</a></li>
                                    <li><a href="~/KyGui">Đặt lịch Ký gửi</a></li>
                                </ul>
                            </li>
                            @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chăm sóc thú cưng <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="multi-column-dropdown">
                            <h6>Dịch vụ</h6>
                            <li><a href="furniture.html">Tiêm phòng</a></li>
                            <li><a href="furniture.html">Spa</a></li>
                            <li><a href="furniture.html">Huấn luyện</a></li>
                            <li><a href="furniture.html">Cắt tỉa lông</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="multi-column-dropdown">
                            <h6>Phụ kiện chó</h6>
                            <li><a href="furniture.html">Chuồng chó</a></li>
                            <li><a href="furniture.html">Thức ăn chó</a></li>
                            <li><a href="furniture.html">Dây dẫn chó</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="multi-column-dropdown">
                            <h6>Phụ kiện mèo</h6>
                            <li><a href="furniture.html">Chuồng mèo</a></li>
                            <li><a href="furniture.html">Dây dẫn mèo</a></li>
                            <li><a href="furniture.html">Thức ăn cho mèo</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </ul>
        </li>*@
                            <li><a href="~/KienThuc">Kiến thức</a></li>
                            <li><a href="~/Home/Contact">Liên hệ</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="logo-nav-right">
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form action="~/Tim_kiem" method="get">
                            <input class="sb-search-input" placeholder="Nhập từ khóa..." name="searchString">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src="~/Assets/Client/js/classie.js"></script>
                <script src="~/Assets/Client/js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>

                <!-- //search-scripts -->
            </div>
            @{ Html.RenderAction("_SessionHeader", "Home");}
        </div>
    </div>
</div>
<!-- //header -->