@model List<PetStore.Models.CartItem>
<div class="header-right">
    <div class="cart box_1">
        <a href="~/GioHang">
            <h3>
                <div>
                    Giỏ hàng: <img src="~/Upload/images/bag.png" alt="" />@Model.Count() 
                </div>
                
            </h3>
        </a>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"> </div>
