
@{
    ViewBag.Title = "_Nav";

}

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/Admin/HomeAdmin">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Trang chủ
            </a>
            <div class="sb-sidenav-menu-heading">Interface</div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Quản trị Website
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    @*<a class="nav-link" href="~/Admin/DanhMuc">Quản lý Danh mục</a>*@
                    <a class="nav-link" href="~/Admin/GiongPet">Quản lý Giống Pet</a>
                    <a class="nav-link" href="~/Admin/PetManagement">Quản lý Pet</a>
                    <a class="nav-link" href="~/Admin/UserManagement">Quản lý Tài khoản</a>
                    <a class="nav-link" href="~/Admin/BaiVietManagement">Quản lý Bài viết</a>
                    <a class="nav-link" href="~/Admin/DichVuChamSocManagement">Quản lý Dịch vụ chăm sóc</a>
                    <a class="nav-link" href="~/Admin/DichVuKyGuiManagement">Quản lý Dịch vụ ký gửi</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Nghiệp vụ
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#danhSachDonHang" aria-expanded="false" aria-controls="danhSachDonHang">
                        Danh sách đơn hàng
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="danhSachDonHang" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="~/Admin/DonHangManagement/DonHangChuaXacNhan">Chưa xác nhận</a><a class="nav-link" href="~/Admin/DonHangManagement/DonHangDaXacNhan">Đã xác nhận</a><a class="nav-link" href="~/Admin/DonHangManagement/DonHangDaHoanThanh">Đã hoàn thành</a><a class="nav-link" href="~/Admin/DonHangManagement/DonHangDaHuy">Đã hủy</a></nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#lichHenChamSoc" aria-expanded="false" aria-controls="lichHenChamSoc">
                        Danh sách lịch hẹn
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="lichHenChamSoc" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="~/Admin/LichHenManagement/LichHenChuaXacNhan">Chưa xác nhận</a><a class="nav-link" href="~/Admin/LichHenManagement/LichHenDaXacNhan">Đã xác nhận</a><a class="nav-link" href="~/Admin/LichHenManagement/LichHenDaHoanThanh">Đã hoàn thành</a><a class="nav-link" href="~/Admin/LichHenManagement/LichHenDaHuy">Đã hủy</a></nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#lichKyGui" aria-expanded="false" aria-controls="lichKyGui">
                        Danh sách ký gửi
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="lichKyGui" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="~/Admin/KyGuiManagement/KyGuiChuaXacNhan">Chưa xác nhận</a><a class="nav-link" href="~/Admin/KyGuiManagement/KyGuiDaXacNhan">Đã xác nhận</a><a class="nav-link" href="~/Admin/KyGuiManagement/KyGuiDangThucHien">Đang thực hiện</a><a class="nav-link" href="~/Admin/KyGuiManagement/KyGuiDaHoanThanh">Đã hoàn thành</a><a class="nav-link" href="~/Admin/KyGuiManagement/KyGuiDaHuy">Đã hủy</a></nav>
                    </div>
                </nav>
            </div>
            <div class="sb-sidenav-menu-heading">Addons</div>
            <a class="nav-link" href="charts.html">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Charts
            </a><a class="nav-link" href="tables.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Tables
            </a>
        </div>
    </div>

</nav>
