
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="register">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">PAGE NOT FOUND</h3>
            <br />
            <br />
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <button class="btn btn-danger">Trở về trang chủ</button>
            </div>
        </div>
    </div>