
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about py-5">
		<div class="py-xl-5 py-lg-3">
			<div class="d-xl-flex about-grids">
				<div class="col-xl-4 about-left p-0">
					<img src="~/Upload/images/ab3.jpg" alt="" class="img" />
				</div>
				<div class="col-xl-8 about-right border-bottom">
					<h3 class="mb-3">Never Stop Exploring</h3>
					<p class="mb-3">Integer pulvinar leo id viverra feugiat. Pellentesque libero ut justo, semper at
						tempus vel, ultrices in ligula. Lorem ipsum dolor sit amet sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Semper at tempus vel, ultrices in ligula. Integer pulvinar leo quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a href="#" class="btn button-style-3">Learn More</a>
				</div>
			</div>
			<div class="d-xl-flex about-grids flex-row-reverse">
				<div class="col-xl-4 about-left p-0">
					<img src="~/Upload/images/ab.jpg" alt="" class="img" />
				</div>
				<div class="col-xl-8 about-right border-bottom">
					<h3 class="mb-3">Never Stop Exploring</h3>
					<p class="mb-3">Integer pulvinar leo id viverra feugiat. Pellentesque libero ut justo, semper at
						tempus vel, ultrices in ligula. Lorem ipsum dolor sit amet sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Semper at tempus vel, ultrices in ligula. Integer pulvinar leo quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a href="#" class="btn button-style-3">Learn More</a>
				</div>
			</div>
			<div class="d-xl-flex about-grids">
				<div class="col-xl-4 about-left p-0">
					<img src="~/Upload/images/ab2.jpg" alt="" class="img" />
				</div>
				<div class="col-xl-8 about-right">
					<h3 class="mb-3">Never Stop Exploring</h3>
					<p class="mb-3">Integer pulvinar leo id viverra feugiat. Pellentesque libero ut justo, semper at
						tempus vel, ultrices in ligula. Lorem ipsum dolor sit amet sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Semper at tempus vel, ultrices in ligula. Integer pulvinar leo quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a href="#" class="btn button-style-3">Learn More</a>
				</div>
			</div>
		</div>
	</section>

